/.AccessControlGenerator.java._trace
/.ModifierAndContractGenerator.java._trace
/AccessControlGenerator.java
/ModifierAndContractGenerator.java
/.ElementWithBody.java._trace
/.SolidityElementWithBody.java._trace
